<div class="w-full mx-auto px-4 py-8 h-screen flex flex-col">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-semibold text-gray-800">Lista de Productos</h1>
        <a href="/api/users/logout" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</a>
  </div>

  <div class="sticky top-0 z-50 bg-white">
    <div class="flex flex-row items-center gap-4 bg-gray-100 py-2 px-4 rounded-lg">
      <a href="/"
        class="bg-green-500 text-white font-semibold py-2 px-4 rounded-lg shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition duration-300 ease-in-out">Inicio</a>
      <form onsubmit="searchProduct(event)" class="flex items-center w-full m-0">
        <input type="text" id="inputSearch" name="filter" value="{{filter}}" placeholder="Buscar producto..." autocomplete="off" 
          class="flex-grow px-4 py-2 rounded-l-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" />
        <button type="submit"
          class="px-4 py-2 bg-blue-600 text-white rounded-r-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600">Buscar</button>
      </form>
    </div>
  </div>

  <div class="flex justify-between items-center my-4">
    <p class="text-lg font-semibold text-gray-700">
      Total de productos: <span class="text-blue-600">{{totalDocs}}</span>
    </p>

    <div class="flex items-center">
      <p class="text-lg font-semibold text-gray-700 mr-2">Ordenar por:</p>
      <select name="sort"
        class="border border-gray-300 text-gray-700 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-600"
        onchange="sortPrice(event)" autocomplete="off">
        <option value="">Por defecto</option>
        <option value="1" {{#if (eq sort 1)}}selected{{/if}}>Precio ascendente</option>
        <option value="-1" {{#if (eq sort -1)}}selected{{/if}}>Precio descendente</option>
      </select>
    </div>
  </div>

  <div class="flex-grow flex overflow-hidden">
    <div class="w-1/6 bg-gray-100 p-4 mr-4">
      <h2 class="text-lg font-semibold mb-4">Filtrar por Marca</h2>
      <form onsubmit="{{#if brandSelected}}deleteFilterBrand(event){{else}}filterBrand(event){{/if}}">
        {{#if brandSelected}}
        <div class="inline-flex items-center bg-blue-500 text-white text-md font-medium rounded-lg px-4 py-2">
          <span>{{brandSelected}}</span>
          <button class="ml-2 text-white text-lg leading-none" name="brand">&times;</button>
        </div>
        {{else}}
        {{#each brands}}
        <div>
          <input type="radio" id="brand-{{@index}}" name="brand" value="{{this}}" {{#if (eq this
            brandSelected)}}checked{{/if}} class="mr-2 focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
            autocomplete="off">
          <label for="brand-{{@index}}" class="text-sm font-medium text-gray-700">{{this}}</label>
        </div>
        {{/each}}
        <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg mt-4 w-full">Aplicar
          Filtro</button>
        {{/if}}
      </form>
    </div>

    <div class="w-5/6 flex flex-col">
      <div class="overflow-x-auto mb-4 flex-grow">
       <table class="w-full min-w-full border-collapse bg-white shadow-lg text-sm">
  <thead class="sticky top-0 z-10 bg-white">
    <tr class="bg-blue-600 text-white">
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">C칩digo interno</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Modelo</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Descripci칩n</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Marca</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Proveedor</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Rubro</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Sub Rubro</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Presentaci칩n</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">IVA</th>
      <th class="py-2 px-3 uppercase font-medium text-sm border-b border-gray-200 text-start">Precio Final</th>
    </tr>
  </thead>
  <tbody class="text-gray-700 overflow-y-auto">
    {{#each products}}
    <tr class="hover:bg-gray-100 transition duration-300 ease-in-out">
      <td class="py-2 px-3 border-b border-gray-200">{{this.internal_id}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.model}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.description}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.brand}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.supplier}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.item}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.sub_item}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.presentation}}</td>
      <td class="py-2 px-3 border-b border-gray-200">{{this.iva}}</td>
      <td class="py-2 px-3 border-b border-gray-200 bg-amber-100 text-center font-bold">${{this.final_price}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

      </div>

      <div class="mt-auto flex justify-center items-center">
        {{#if hasPrevPage}}
        <a href="{{prevPage}}"
          class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg mr-2 transition duration-300 ease-in-out">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="{{nextPage}}"
          class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out">Siguiente</a>
        {{/if}}
      </div>

      <div class="flex justify-between items-center mt-4">
        <div class="flex-grow"></div>
        <div>
          <label for="pageSize" class="text-sm">Productos por p치gina:</label>
          <select id="pageSize" class="border border-gray-300 rounded-lg ml-2 p-2 bg-white"
            onchange="limitChange(event)">
            <option value="12" {{#if (eq limit "12" )}}selected{{/if}}>12</option>
            <option value="24" {{#if (eq limit "24" )}}selected{{/if}}>24</option>
            <option value="36" {{#if (eq limit "36" )}}selected{{/if}}>36</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/listProducts.js"></script>