<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-semibold text-gray-800 mb-6">Administración de
    Factores de Multiplicación</h1>

  <div class="flex justify-between items-center mb-4">
    <a
      href="/"
      class="bg-green-500 text-white font-semibold py-2 px-4 rounded-lg shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition duration-300 ease-in-out"
    >Inicio</a>
    <a
      href="/add-factor"
      class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700"
    >Agregar Nuevo Factor</a>
  </div>

  <div class="bg-white shadow-md rounded my-6">
    <table class="min-w-full table-auto">
      <thead class="bg-blue-600 text-white">
        <tr>
          <th
            class="py-3 px-4 uppercase font-semibold text-sm border-b border-gray-200 text-left"
          >Factor</th>
          <th
            class="py-3 px-4 uppercase font-semibold text-sm border-b border-gray-200 text-left"
          >Nombre</th>
          <th
            class="py-3 px-4 uppercase font-semibold text-sm border-b border-gray-200 text-left"
          >Proveedor</th>
          <th
            class="py-3 px-4 uppercase font-semibold text-sm border-b border-gray-200 text-left"
          >Creado</th>
          <th
            class="py-3 px-4 uppercase font-semibold text-sm border-b border-gray-200 text-left"
          >Modificado</th>
          <th
            class="py-3 px-4 uppercase font-semibold text-sm border-b border-gray-200 text-right"
          >Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-gray-200">
        {{#each factors}}
          <tr class="hover:bg-gray-100">
            <td
              class="py-3 px-4 border-b border-gray-200 text-left"
            >{{this.value}}</td>
            <td
              class="py-3 px-4 border-b border-gray-200 text-left"
            >{{this.name}}</td>
            <td
              class="py-3 px-4 border-b border-gray-200 text-left"
            >{{this.supplier}}</td>
            <td
              class="py-3 px-4 border-b border-gray-200 text-left"
            >{{formatDate this.created_at}}</td>
            <td
              class="py-3 px-4 border-b border-gray-200 text-left"
            >{{formatDate this.updated_at}}</td>
            <td
              class="py-3 px-4 border-b border-gray-200 text-right"
              data-factor-id="{{this._id}}"
            >
              <a
                href="/edit-factor/{{this._id}}"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
              >Editar</a>
              <button
                class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700"
                onclick="deleteFactor(event)"
                data-factor-id="{{this._id}}"
              >Eliminar</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script src="/js/manageFactors.js"></script>