<div class='container mx-auto px-4 py-8'>
  <h1 class='mb-6 text-2xl font-semibold text-gray-800'>ADMINISTRACIÓN DE TIPOS
    DE CAMBIO</h1>

  <div class='mb-4 flex items-center justify-between'>
    <a
      href='/'
      class='rounded-lg bg-green-500 px-4 py-2 font-semibold text-white shadow transition duration-300 hover:bg-green-600'
    >INICIO</a>
    <a
      href='/add-dollar'
      class='rounded bg-blue-500 px-4 py-2 font-semibold text-white transition duration-300 hover:bg-blue-700'
    >AGREGAR NUEVO TIPO DE CAMBIO</a>
  </div>

  <div class='overflow-hidden rounded-md bg-white shadow-md'>
    <table class='w-full table-auto'>
      <thead class='bg-blue-500 text-white'>
        <tr>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >NOMBRE</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >VALOR</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >CREACIÓN</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >ULTIMA MODIFICACIÓN</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-right text-sm font-semibold uppercase'
          >ACCIONA</th>
        </tr>
      </thead>
      <tbody class='bg-gray-100'>
        {{#each dollars}}
          <tr class='transition duration-300 hover:bg-gray-200'>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{this.name}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >${{this.value}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{formatDate this.created_at}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{formatDate this.updated_at}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-right'
              data-dollar-id='{{this._id}}'
            >
              <a
                href='/edit-dollar/{{this._id}}'
                class='rounded-md bg-blue-500 px-4 py-2 font-bold text-white transition duration-300 hover:bg-blue-700'
              >EDITAR</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>