<div class='container mx-auto px-4 py-8'>
  <h1 class='mb-6 text-2xl font-semibold text-gray-800'>ADMINISTRACIÓN DE
    PROVEEDORES</h1>

  <div class='mb-4 flex items-center justify-between'>
    <a
      href='/'
      class='rounded-lg bg-green-500 px-4 py-2 font-semibold text-white shadow transition duration-300 hover:bg-green-600'
    >INICIO</a>
    <a
      href='/add-supplier'
      class='rounded bg-blue-500 px-4 py-2 font-semibold text-white transition duration-300 hover:bg-blue-700'
    >AGREGAR NUEVO PROVEEDOR</a>
  </div>

  <div class='overflow-hidden rounded-md bg-white shadow-md'>
    <table class='w-full table-auto'>
      <thead class='bg-blue-500 text-white'>
        <tr>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >NOMBRE</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >MONEDA</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >CREACIÓN</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-left text-sm font-semibold uppercase'
          >ULTIMA MODIFICACIÓN</th>
          <th
            class='border-b border-gray-200 px-4 py-3 text-right text-sm font-semibold uppercase'
          >ACCIONES</th>
        </tr>
      </thead>
      <tbody class='bg-gray-100'>
        {{#each suppliers}}
          <tr class='transition duration-300 hover:bg-gray-200'>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{this.name}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{this.currency}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{formatDate this.created_at}}</td>
            <td
              class='border-b border-gray-200 px-4 py-3 text-left'
            >{{formatDate this.updated_at}}</td>
            <td
              class='flex justify-end gap-2 border-b border-gray-200 px-4 py-3 text-right'
            >
              <a
                href='/edit-supplier/{{this._id}}'
                class='rounded-md bg-blue-500 px-4 py-2 font-bold text-white transition duration-300 hover:bg-blue-700'
              >EDITAR</a>
              <button
                class='rounded-md bg-red-500 px-4 py-2 font-bold text-white transition duration-300 hover:bg-red-700'
                onclick='deleteSupplier(event)'
                data-supplier-id='{{this._id}}'
              >ELIMINAR</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div
  id='confirmationModal'
  class='fixed inset-0 z-50 flex hidden h-full w-full items-center justify-center overflow-y-auto bg-gray-600 bg-opacity-50'
>
  <div class='relative mx-auto w-96 rounded-md border bg-white p-5 shadow-lg'>
    <div class='text-center'>
      <h3 class='text-lg font-bold leading-6 text-gray-900'>CONFIRMACIÓN DE
        ELIMINACIÓN</h3>
      <div class='mt-2 px-7 py-3'>
        <p class='text-sm text-gray-500'>¿ESTAS SEGURO DE QUE DESEAS ELIMINAR
          ESTE PROVEEDOR?</p>
      </div>
      <div class='mt-4 flex justify-center gap-4'>
        <button
          id='cancelBtn'
          class='rounded bg-gray-200 px-4 py-2 font-bold text-gray-800 transition duration-300 hover:bg-gray-300 focus:outline-none'
        >ATRÁS</button>
        <button
          id='confirmBtn'
          class='rounded bg-green-500 px-4 py-2 font-bold text-white transition duration-300 hover:bg-green-600 focus:outline-none'
        >CONFIRMAR</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/manageSuppliers.js'></script>