<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-lg mx-auto p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-center text-gray-900 mb-6">SELECCIONAR PROVEEDOR, RUBRO Y SUBRUBRO</h2>
    <form onsubmit="updatePrice(event)">
      <div class="mb-6">
        <label for="supplier" class="block text-gray-800 text-sm font-bold mb-2">
          PROVEEDOR
        </label>
        <select name="supplier"
          class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-3 pr-8 rounded shadow leading-tight focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"
          autocomplete="off" onchange="selectSupplier(event)">
          <option value="all-suppliers" {{#if (eq this.sid "all-suppliers" )}}selected{{/if}}>TODOS LOS PROVEEDORES
          </option>
          {{#each suppliers}}
          <option value="{{this._id}}" {{#if (eq this._id ../sid)}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-6">
        <label for="item" class="block text-gray-800 text-sm font-bold mb-2">
          RUBRO
        </label>
        <select name="item"
          class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-3 pr-8 rounded shadow leading-tight focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"
          autocomplete="off" {{#if (eq sid "all-suppliers" )}} disabled {{/if}} onchange="selectItem(event)">
          <option value="all-items" {{#if (eq item "all-items" )}}selected{{/if}}>TODOS LOS RUBROS</option>
          {{#each items}}
          <option value="{{this.item}}" {{#if (eq this.item ../item)}}selected{{/if}}>{{this.item}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-6">
        <label for="sub_item" class="block text-gray-800 text-sm font-bold mb-2">
          SUBRUBRO
        </label>
        <select name="sub_item"
          class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-3 pr-8 rounded shadow leading-tight focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500"
          autocomplete="off" {{#if (eq item "all-items" )}} disabled {{/if}} onchange="selectSubItem(event)">
          <option value="all-items" {{#if (eq this.sid "all-items" )}}selected{{/if}}>TODOS LOS SUBRUBROS</option>
          {{#each sub_items}}
          <option value="{{this.sub_item}}" {{#if (eq this.sub_item ../sub_item)}}selected{{/if}}>{{this.sub_item}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="mb-6">
        <label for="porcentaje" class="block font-bold text-gray-800 text-sm mb-2">PORCENTAJE DE AUMENTO
          %</label>
        <div class="flex items-center mb-4">
          <div class="flex items-center mr-4">
            <input type="radio" id="increase" name="adjustment_type" value="increase"
              class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300" checked>
            <label for="increase" class="ml-2 block text-sm text-gray-800">AUMENTO</label>
          </div>
          <div class="flex items-center">
            <input type="radio" id="discount" name="adjustment_type" value="discount"
              class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
            <label for="discount" class="ml-2 block text-sm text-gray-800">DESCUENTO</label>
          </div>
        </div>
        <input type="number" id="porcentaje" name="percentage" step="0.01" value="0"
          class="block w-full py-3 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          required />
      </div>
      <div class="flex justify-between">
        <a href="/"
          class="bg-red-500 font-bold hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300">
          ATRÁS
        </a>
        <button type="submit"
          class="bg-blue-500 font-bold text-white px-4 py-2 font-bold rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">
          APLICAR
        </button>
      </div>
    </form>
  </div>
</div>
<div id="confirmationModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center z-50">
  <div class="relative mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="text-center">
      <h3 class="text-lg leading-6 font-medium text-gray-900">CONFIRMACIÓN DE ACTUALIZACIÓN</h3>
      <div class="mt-2 px-7 py-3">
        <p class="text-sm text-gray-500">¿ESTÁS SEGURO DE QUE DESEAS ACTUALIZAR LOS PRECIOS?</p>
      </div>
      <div class="flex justify-center gap-4 mt-4">
        <button id="cancelBtn" class="px-4 py-2 bg-gray-200 text-gray-800 rounded hover:bg-gray-300 focus:outline-none transition duration-300">ATRÁS</button>
        <button id="confirmBtn" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded focus:outline-none transition duration-300">CONFIRMAR</button>
      </div>
    </div>
  </div>
</div>
<div id="toast" class="hidden fixed bottom-5 left-5 z-50 max-w-sm mx-auto overflow-hidden rounded-lg shadow-md" role="alert">
  <div class="bg-white rounded-lg shadow-xs overflow-hidden">
    <div class="p-4 flex items-center">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg bg-blue-100 text-blue-500">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </div>
      <div class="ml-3 text-sm font-normal" id="textNotification">MENSAJE DE LA NOTIFICACIÓN</div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8" data-dismiss-target="#toast" aria-label="CERRAR">
        <span class="sr-only">CERRAR</span>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
<script src="/js/updatePriceList.js"></script>