<div class='h-screen w-screen flex justify-center items-center bg-gray-100'>
  <div class='w-full max-w-lg px-4'>
    <h1 class='text-lg font-semibold text-gray-700 text-center mb-6'>Subir nueva
      lista de precios</h1>
    <form
      class='bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4'
      onsubmit='sendDocument(event)'
    >
      <div class='mb-6'>
        <label
          for='supplier'
          class='block text-gray-700 text-sm font-bold mb-2'
        >Descuento - Proveedor:</label>
        <div class='relative'>
          <select
            name='factor'
            class='block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded-lg shadow focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500'
          >
            {{#each factors}}
              <option value='{{this._id}}-{{this.supplier_id}}'>{{this.value}}
                -
                {{this.name}}
                -
                {{this.supplier}}</option>
            {{/each}}
          </select>
          <div
            class='pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700'
          >
            <svg
              class='fill-current h-4 w-4'
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 20 20'
            >
              <path
                d='M5.705 7.705l4.295 4.295 4.295-4.295-1.41-1.41-2.885 2.885-2.885-2.885-1.41 1.41z'
              />
            </svg>
          </div>
        </div>
      </div>
      <div class='mb-6'>
        <label
          for='file'
          class='block text-gray-700 text-sm font-bold mb-2'
        >Documento:</label>
        <input
          type='file'
          name='file'
          class='shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
        />
      </div>
      <div class='flex items-center justify-between'>
        <a
          href='/'
          class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline transition duration-300 ease-in-out'
        >Atras</a>
        <button
          type='submit'
          class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline transition duration-300 ease-in-out'
        >Enviar</button>
      </div>
    </form>
    <div
      id='loadingScreen'
      class='fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden'
    >
      <div class='lds-ripple'>
        <div
          class='absolute border-4 border-yellow-500 opacity-100 rounded-full animate-ripple'
        ></div>
        <div
          class='absolute border-4 border-yellow-500 opacity-100 rounded-full animate-ripple animation-delay-500'
        ></div>
      </div>
    </div>
  </div>
</div>
<script src='/js/uploadDocument.js'></script>